@font-face {
    font-family: light;
    src: url(../fonts/Aeonik-Light.ttf);
}
@font-face {
    font-family: bold;
    src: url(../fonts/Aeonik-Bold.ttf);
}
@font-face {
    font-family: regular;
    src: url(../fonts/Aeonik-Regular.ttf); 
}

:root{
    --primary-color : #E38792;
    --primary-txt-color : #F2EEE8;

    --secondary-color : #F2EEE8;
    --seondary-txt-color : #fa6678;

    --tertiary1-color : #80934e;
    --tertiary1-txt-color : #2d321d;

    --tertiary2-color : #F4E3B2;
    --tertiary2-txt-color : #80050A;

}

@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes borderAnimate{
    from{
        --rotate : 0deg
    }
    to{
        --rotate : 360deg
    }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: regular;
  color: var(--seondary-txt-color);
}
 html ,
 body {
    height: 100%;
    width: 100%
}
html{
    background-color: white;
    color: black;
}

main{
    /* background-color: var(--primary-color); */
    width: 100%;
    height: 100%;
}

/*  */
/* NAVBAR */
/*  */

#nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tertiary1-color);
    z-index: 10;
}

/*  */
/* ALL ELEMENTS */
/*  */
section.all-elements{
    max-height: max-content;
    min-height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    /* background-color: var(--secondary-color); */
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
    position: absolute; 
}

/* ELEMENTS */

.elem{
    background-color: var(--tertiary2-color);
    color: var(--tertiary2-txt-color);
    height: 430px;
    width: 330px;
    border-radius: 20px;
    font-size: 30px;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    transition: all ease 0.2s;
    cursor: pointer;
    box-shadow: 0 0 10px var(--secondary-color);
}

.elem>img{
    height: 100%;
    width: 100%;
}

.elem>h2{
    font-size: 1.5rem;
    font-weight: lighter;
    position: absolute;
    bottom: 4%;
    right: 5%;
    color: #F2EEE8;
    -webkit-text-stroke-color: #bababa;
    -webkit-text-stroke-width: 1px;
}

.elem:active{
    transform: scale(0.97);
}

/*  */
/* Full Elem */
/*  */
.fullElem{
    
    min-height: 100%;
    height: 100%;
    width: 100%;
    padding: 30px;
    display: none;
    position: absolute;
    background-color: black;
}

/* back */
.back{
    position: absolute;
    right: 4%;
    background-color: var(--tertiary1-txt-color);
    border-radius: 5px;
    padding: 10px 11px;
    color: var(--tertiary1-color);
    outline: none;
    border: none;
    font-size: 1.3rem;
    transition: all ease 0.2s;
    cursor: pointer;
    box-shadow: 0 0 10px;
    
}

.back:active{
    transform: scale(0.87);
}

/* Todo Container  */

.heading-wrapper{
    display: flex;
    align-items: center;
}
.todo-page .heading-wrapper > h2,
.daily-planner-page .heading-wrapper > h2 ,
.quotes-page .heading-wrapper > h2{
    color: var(--tertiary1-color);
    font-family: bold;
    font-size: 3rem ;
}
.todo-page .todo-container{
    width: 100%;
    height: 80%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todo-page .todo-container .add-task{
    height: 100%;
    width: 33%;
    background-color: var(--tertiary1-color);
    border-radius: 20px;
}

.todo-page .todo-container .add-task form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 20px;
    height: 100%;
}

.todo-container .add-task form input , .todo-container .add-task form textarea , .todo-container .add-task form button{
    padding: 10px 20px;
    width: 100%;
    font-size: 25px;
    background-color: var(--tertiary1-txt-color);
    outline: none;
    border-radius: 5px;
    border: none;
    /* margin-bottom: 20px; */
}

.todo-container .add-task form textarea{
    height: 100%;
    resize: none;

    &::-webkit-scrollbar{
        background-color: transparent;
        width: 0;
    }
}
.todo-container .add-task form button{
    color: var(--tertiary2-txt-color);
    background-color: var(--tertiary2-color);
    font-family: bold;
    transition: all ease 0.5s;
    &:active{
        transform: scale(0.97);
    }
}

/* All Task Element */
.todo-page .todo-container .all-task{
    height: 100%;
    width: 65%;
    background-color: var(--tertiary1-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    overflow: auto;

    &::-webkit-scrollbar{
        background-color: transparent;
        width: 0px;   
    }
}

.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--tertiary1-txt-color);
    padding: 20px 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.task h5{
    /* color: var(--tertiary1-color); */
    color: #9ac893;
    font-size: 1.5rem;
    letter-spacing: 1.2px;
}

.task .btn-wrapper button ,
.daily-planner-page .day-planner .day-planner-scheduler button {
    background-color: var(--tertiary2-color);
    color: var(--tertiary2-txt-color);
    font-size: 1.2rem;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all ease 0.5s;
    width: 10rem;
    &:active{
        transform: scale(0.97);
    }
}

.task .btn-wrapper :nth-child(2){
    background-color: var(--seondary-txt-color);
    color: var(--secondary-color);
    font: bold;
    border: none;
}

.task-completed {
    background-color: lightgreen !important; 
}

.task-strikethrough{
    text-decoration: line-through;
    text-decoration-thickness: 5px;
    text-decoration-color: var(--seondary-txt-color);
}

.form-checkbox-wrapper{
    width: 100%;
    display: flex;
}

.form-checkbox-wrapper > label {
    width: 80%;
    font-size: 1.2rem;
    color: var(--tertiary1-txt-color);
    font-family: bold;
}

.imp-task{
    background: linear-gradient(var(--tertiary1-txt-color)) padding-box,
                conic-gradient(from var(--rotate) , var(--tertiary1-txt-color)  , var(--tertiary1-txt-color) ,var(--tertiary1-txt-color) , #ff0000 ,#ff6600c6 , rgb(0, 255, 64), var(--tertiary1-txt-color)) border-box;
    border: 0px solid #ff007300;
    animation: borderAnimate 3s linear infinite;
    transition-property: all;
    animation-play-state: running;
    border-width: 3px;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    color: #ff0073;
}

.res-heading-wrapper{
    display: flex;
    gap: 10px;
}
.h5-sup{
    background-color: var(--seondary-txt-color);
    text-align: center;
    color: var(--secondary-color);
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
    font-family: bold;
}

.task-title:hover{
    cursor: pointer;
    color: #f5f913;
}

/*  */
/* Daily Planner Page */
/*  */

.daily-planner-page{
    padding: 30px;
}

.daily-planner-page .day-planner{
    background-color: var(--tertiary1-color);
    height: 85%;
    margin-top: 40px;
    width: 100%;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2%;
    overflow: auto;
}

.daily-planner-page .day-planner::-webkit-scrollbar{
    width: 0;

}

.daily-planner-page .day-planner .day-planner-scheduler{
    display: flex;
    align-items: center;
    position: relative;
    width: 49%;
    margin-bottom: 10px;
    background-color: var(--tertiary1-txt-color);
    border-radius: 10px;
    border: none;
    outline: none;
    padding-right: 10px;
}

.daily-planner-page .day-planner .day-planner-scheduler p{
    color: var(--secondary-color);
    position: absolute;
    top: 10%;
    left: 0.5%;
    font-size: 1.2rem;
}
.daily-planner-page .day-planner .day-planner-scheduler input{
    padding: 20px 60px;
    width: 100%;
    background-color: var(--tertiary1-txt-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    font-size: 1.5rem;
    color: var(--tertiary2-color);
    border: none;
}

/*  */
/* Motivational Page */
/*  */

.quotes-page .quotes-container{
    background-color: var(--tertiary1-color);
    padding: 30px;
    min-height: 50%;
    border-radius: 30px;
    position: relative;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    box-shadow:
                0 0 150px 20px var(--tertiary1-txt-color),
                0 0 250px 40px var(--tertiary1-color);
}



.quotes-page .quotes-container .quote-heading{
    background-color: var(--tertiary1-txt-color);
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
}





.quotes-page .quotes-container .quote-heading h2{
    font-size: 3rem;
    color: var(--secondary-color);
    text-align: center;
}

.quotes-page .quotes-container .quote p{
    font-size: 2.5rem;
    color: var(--secondary-color);
    
}

.quotes-page .quotes-container  .quote-author h3 , 
.quotes-page .quotes-container  .quote-author button {
    font-size: 2rem;
    text-align: end;
    margin-top: 20px;
    color: var(--primary-txt-color);
}

@media (width < 768px){

    .quotes-page .quotes-container{
        background-color: var(--secondary-color);
        padding: 30px;
        border-radius: 30px;
        position: relative;
        width: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
        box-shadow: 0 0 10px 10px rgba(241, 64, 64, 0.73);
    }

    .quotes-page .quotes-container .quote p{
        font-size: 1rem;
        color: var(--tertiary2-txt-color);
    
    }

    .quotes-page .quotes-container .quote-author h3 , 
    .quotes-page .quotes-container .quote-author button{
        font-size: 1rem;
        text-align: end;
        margin-top: 20px;
    }

    .quotes-page .quotes-container .quote-heading h2{
        font-size: 1.5rem;
        color: var(--secondary-color);
        text-align: center;
    }
}

.quotes-page .quotes-container  .quote-author button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--tertiary1-txt-color);
    outline: none;
    transition: all ease 0.5s;
    cursor: pointer;

    &:active{
        scale: 0.9;
    }
}
.quotes-page .quotes-container .quote-author{
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.quotes-page .quotes-container  .quote-author h3 , 
.quotes-page .quotes-container  .quote-author h3 span{
    color: var(--tertiary2-txt-color);
}