@font-face {
    font-family: light;
    src: url(./fonts/Aeonik-Light.ttf);
}
@font-face {
    font-family: bold;
    src: url(./fonts/Aeonik-Bold.ttf);
}
@font-face {
    font-family: regular;
    src: url(./fonts/Aeonik-Regular.ttf); 
}

:root{
    --primary-color : #E38792;
    --primary-txt-color : #F2EEE8;

    --secondary-color : #F2EEE8;
    --seondary-txt-color : #f38794;

    --tertiary1-color : #9DAD71;
    --tertiary1-txt-color : #2d321d;

}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 html ,
 body {
    height: 100%;
    width: 100%
}
html{
    background-color: black;
    color: white;
}

main{
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
}

