* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 html ,
 body {
    height: 100%;
    width: 100%
}
html{
    background-color: black;
    color: white;
}

main{
    background-color: #111;
    width: 100%;
    height: 100%;
}