@font-face {
    font-family: light;
    src: url(./fonts/Aeonik-Light.ttf);
}
@font-face {
    font-family: bold;
    src: url(./fonts/Aeonik-Bold.ttf);
}
@font-face {
    font-family: regular;
    src: url(./fonts/Aeonik-Regular.ttf); 
}

:root{
    --primary-color : #E38792;
    --primary-txt-color : #F2EEE8;

    --secondary-color : #F2EEE8;
    --seondary-txt-color : #fa6678;

    --tertiary1-color : #9DAD71;
    --tertiary1-txt-color : #2d321d;

    --tertiary2-color : #F4E3B2;
    --tertiary2-txt-color : #80050A;

}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: regular;
  color: var(--seondary-txt-color);
}
 html ,
 body {
    height: 100%;
    width: 100%
}
html{
    background-color: white;
    color: black;
}

main{
    /* background-color: var(--primary-color); */
    width: 100%;
    height: 100%;
}

/*  */
/* NAVBAR */
/*  */

#nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tertiary1-color);
    z-index: 10;
}

/*  */
/* ALL ELEMENTS */
/*  */
section.all-elements{
    max-height: max-content;
    min-height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    /* background-color: var(--secondary-color); */
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
    position: absolute;
}

/* ELEMENTS */

.elem{
    background-color: var(--tertiary2-color);
    color: var(--tertiary2-txt-color);
    height: 430px;
    width: 330px;
    border-radius: 20px;
    font-size: 30px;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    transition: all ease 0.2s;
    cursor: pointer;
    box-shadow: 0 0 10px var(--secondary-color);
}

.elem>img{
    height: 100%;
    width: 100%;
}

.elem>h2{
    font-size: 1.5rem;
    font-weight: lighter;
    position: absolute;
    bottom: 4%;
    right: 5%;
    color: #F2EEE8;
    -webkit-text-stroke-color: #bababa;
    -webkit-text-stroke-width: 1px;
}

.elem:active{
    transform: scale(0.97);
}

/*  */
/* Full Elem */
/*  */
.fullElem{
    
    min-height: 100%;
    width: 100%;
    padding: 20px;
    font-size: 2rem;
    display: none;
    position: absolute;
    background-color: black;
}

/* back */
.back{
    position: absolute;
    right: 4%;
    background-color: #fb3e3e;
    border-radius: 5px;
    padding: 10px 11px;
    color: var(--primary-txt-color);
    font-size: 1.3rem;
    transition: all ease 0.2s;
    cursor: pointer;
}

.back:active{
    transform: scale(0.97);
}